/* Universal */
body {
    font-family: "Source Sans Pro", sans-serif;

}
/* Header */

nav.thrubyNav #logo {
    height: 50px;
    width: 50px;
    float: left;
    padding-top: .5em;
    
}

nav.thrubyNav {
    background-color: #10B9D2;
    font-family: "Source Sans Pro", sans-serif;}

nav.thrubyNav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

nav.thrubyNav li {
    padding: 1.6em 3em;
    list-style-type: none;
}

nav.thrubyNav a {
    text-decoration: none;
    color: white;
}

nav li a {
    text-decoration: none;
    background: linear-gradient(90deg,,);
    color: rgb(229,245,249);
    padding: 8px 17px;
    border-radius: 17px;
    text-align: center;
    transition: all .5s ease-out;
}

nav li a:hover {
    background-color: #bbc946;
    transition: all .2s ease-in;
}

a:hover {
    box-shadow: 0 2.5px 5px 0 rgba(32,32,32,.65);
}

/* Header */





/* Footer */

.thrubyFooter {
    background-color: #d9dede;
}

#copy {
    color: #726f6c;
    text-align: center;
    padding: .5em 0;
    /* position: */
}


/* Footer */




/* Homepage */

#button {
    background-color: #bbc946;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    float: left;
    position: absolute;
    left: 350px;
    margin-top: 325px;
    padding: 1em 3em;
    border-radius: 3em;
}

#introducing {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    margin-top: 225px;
    font-size: 1.5em;
    color: #8d8984;
    font-weight: lighter;
    line-height: 1.5em;
    float: left;
    position: absolute;
    left: 350px;
}

#two{
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    font-weight: lighter;
    padding-top: 100px;
    padding-left: 350px;
    float: left;
    font-size: 3.5em;
}

#phone {
    float: right;
    width: 20%;
    margin-bottom: -275px;
    padding-right: 250px;
    margin-top: 50px;
}

#background {
    margin-top: -275px;
    width: 100%;
}

/* Product Detail */
.thruby-product-detail-header {
    /* border: solid red 1px; */
    width: 90%;
    margin: 0 auto;
}

.thruby-product-detail-header h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    font-size: 4em;
    margin-bottom: .2em;
}



img.product-detail-phone {
    /* border: solid red 1px; */
    margin-left: 47em;
    margin-bottom: 3em; 
    height: 30em;
    position: absolute;
    top: 10em;
}

#features {
    /* border: solid rgb(168, 104, 104) 1px; */
    width: 40%;
    position: absolute;
    top: 23em;
    left: 17em;
}

#reviews {
    /* border: solid red 1px; */
    width: 60%;
    margin-left: 1.4em;
    margin-bottom: 3em;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
}

.topDownload {
    background-color: #bbc946;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    left: 350px;
    padding: 1em 3em;
    border-radius: 3em;
}

/* This is being used to push the footer down to the bottom of the page. Can't seem to get it to operate as a fixed, sticky footer */
#invisible-div-product-detail {
    margin-bottom: 24em;
}

#feature1 {
    /* border: solid red 1px; */
    width: 18em;
    margin-left: 6em;
    color: #8d8984;
    font-weight: lighter;
}

#feature1 h2 {
    font-weight: lighter;
}

#feature2 {
    /* border: solid red 1px; */
    width: 18em;
    margin-left: 54em;
    margin-top: -24em;
    color: #8d8984;
    font-weight: lighter;
}

#feature2 h2 {
    font-weight: lighter;
}

#feature3 {
    /* border: solid red 1px; */
    width: 18em;
    margin-left: 52em;
    margin-top: 13em;
    color: #8d8984;
    font-weight: lighter;
}

#feature3 h2 {
    font-weight: lighter;
}

#line1 {
    width: 20%;
    position: absolute;
    left: 30em;
    padding-top: 2em;
}

#line2 {
/* border: solid red 1px; */
position: absolute;
height: 10em;
right: 20em;
top: 12em;
}

#line3 {
    /* border: solid red 1px; */
    position: absolute;
    height: 3em;
    right: 14.4em;
    top: 24em;
}

#reviews {
    background-color: #7ECCC9;
    /* display: block; */
    position: relative;
    left: -1.7em;
    width: 90%;
    margin-top: 12em;
    padding: 3em 7em 3em 3em;
}

#reviews h2 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    margin-top: -.3em;
}


.thruby-reviews-1 h3, .thruby-reviews-2 h3, .thruby-reviews-3 h3 {
font-weight: 100;
} 

.download {
    background-color: #bbc946;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    left: 350px;
    padding: 1em 3em;
    border-radius: 3em;
    margin-left: 34.3em;
}

/* Add-Ons */

#add-title {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    font-weight: lighter;
    font-size: 3.5em;
    margin-bottom: 200px;

}

article.card {
    display: inline-block;
    color: #333132;
    margin-left: 200px;
    margin-top: -75px;
    text-align: center;
    width: 28%;
    height: 360px;
    vertical-align: text-bottom;
    margin-bottom: 6em;
}

article.card h1, article.card h2 {
    margin-bottom: 0em;
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    line-height: 1.5em;
    font-size: 2em;
} 

article.card img {
    width: 150px;
}

article.card p.price {
        font-family: "Source Sans Pro", sans-serif;
        color: #8d8984;
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-top: 0em;
}

p.appDesc {
    margin-bottom: 1em;
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    font-weight: lighter;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 10em;
}

/* About */

#meet {
    font-family: "Source Sans Pro", sans-serif;
    color: #10B9D2;
    line-height: 1.5em;
    text-align: center;
    font-weight: lighter;
    font-size: 3em;
    margin: 1.5em 0 0 0;

}

#mp {
    width: 65%;
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    font-weight: lighter;
    line-height: 1.75em;
    text-align: center;
    font-size: 1.5em;
    margin: 3em auto;
    margin-bottom: 6em;

}

.us {
    font-family: "Source Sans Pro", sans-serif;
    color: #10B9D2;
    font-weight: lighter;
    text-align: center; 
    font-size: 50px;
}

section.team {
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    width: 60%;
    display: inline-flex;
    justify-content: center;
    margin-left: 14em;
}
 
section.team h2, 
section.team h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: #8d8984;
    display: flex;
    align-items: center;
}

section.team h3 {
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 3.5em;
    color: #bbc946;
    display: flex;
    align-items: center;
}

section.team p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    color: #8d8984;
    display: flex;
    align-items: center;
}

section.team img {
    max-height: 125px;
    margin: 3em 2em 3em;
    border-radius: 50%;
    border: 1em solid rgba(16, 185, 210, .5);
}

section.team:last-child {
    padding-bottom: 100px;
}

/* shopping cart */

#shopping {
    font-family: "Source Sans Pro", sans-serif;
    color: #10B9D2;
    line-height: 1.5em;
    text-align: center;
    font-weight: lighter;
    font-size: 3em;
    margin: 1.5em 0 1em 0;
}

#submitbutton {
    background-color: #bbc946;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    border-radius: 3em;
    padding: .5em 1.5em .5em 1.5em;
}

#clear-cart {
    background-color: #bbc946;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    border-radius: 3em;
    padding: .5em 1.5em .5em 1.5em;
}