/* Product Page Styles */

section#products {
    background-image: url("../images/hero.png");
}

article.card {
    display: inline-block;
    background: #E5F5F9;
    color: #333132;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 28%;
    height: 360px;
    vertical-align: text-bottom;
}

article.card h1, article.card h2 {
    color: #333132;
} 

article.card img {
    max-width: 150px;
}

article.card p.price {
        font-size: 1.2em;
        margin-bottom: 1em;
}

p.appDesc {
    margin-bottom: 1em;
}